.mainContainer {
  position:relative;
  width: 100%;
  height: 100%;
}


.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.73;
  text-align: center;
  background-color: #990000;
  color: #fff;
  font-size: 1.5em;
}

p {
  font-size: 0.5em;
}



.linearGradient {

  background: rgba(153,151,148,1);
  background: -moz-linear-gradient(-45deg, rgba(153,151,148,1) 0%, rgba(250,247,247,0.64) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(153,151,148,1)), color-stop(100%, rgba(250,247,247,0.64)));
  background: -webkit-linear-gradient(-45deg, rgba(153,151,148,1) 0%, rgba(250,247,247,0.64) 100%);
  background: -o-linear-gradient(-45deg, rgba(153,151,148,1) 0%, rgba(250,247,247,0.64) 100%);
  background: -ms-linear-gradient(-45deg, rgba(153,151,148,1) 0%, rgba(250,247,247,0.64) 100%);
  background: linear-gradient(135deg, rgba(153,151,148,1) 0%, rgba(250,247,247,0.64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999794', endColorstr='#faf7f7', GradientType=1 );
  opacity: 0.45;
}

.App H1 {
  top: 10%;
}
