
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  margin-bottom: 0;
  margin-top: 2%;
}

h3 {
  font-size: 20px;
}

html, body, div{
  width:100%;
  height:100%;
}
